apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-backend-config
  labels:
    app: auth-backend
data:
  PYTHONDONTWRITEBYTECODE: '1'

  TEST_POSTGRES_DB: 'test'
  TEST_POSTGRES_USER: 'test'
  TEST_POSTGRES_HOST: 'postgres-db-test'
  TEST_POSTGRES_PASSWORD: 'test'
  TEST_DATABASE_URL: 'postgresql+asyncpg://test:test@postgres-db-test/auth_test'

  ACCESS_TOKEN_SECRET_KEY: "x_auth"
  REFRESH_TOKEN_SECRET_KEY: "x_auth"

  ACCESS_TOKEN_EXPIRES_MINUTES: "43800"
  REFRESH_TOKEN_EXPIRES_MINUTES: "43800"
  TOKENS_ALGORITHM: "HS256"

  COOKIE_SESSION_KEY: "X-AUTH"

  USE_PREFIX: '/api/users'
  SKIP_AUTH: '0'
  SKIP_AGREEMENT: '1'
  DOMAIN_URL: 'exlxx.ru'
  S3_PROXY_URL: "exlxx.static.ru"

---

apiVersion: v1
kind: Service
metadata:
  name: auth-backend-svc
  labels:
    run: auth-backend
spec:
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
  selector:
    run: auth-backend
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-backend
spec:
  selector:
    matchLabels:
      run: auth-backend
  template:
    metadata:
      labels:
        run: auth-backend
    spec:
      initContainers:
      - name: auth-migration
        image: $DOCKER_REGISTRY:8443/kubernetes/auth:$CI_COMMIT_SHORT_SHA-$CI_COMMIT_BRANCH
        imagePullPolicy: Always
        command: [ "/bin/sh" ]
        args: [ "-c", "alembic upgrade head" ]
        envFrom:
        - configMapRef:
            name: auth-backend-config
        - secretRef:
            name: auth-postgres-connection
        - secretRef:
            name: auth-redis-connection

      containers:
      - name: auth-backend
        image: $DOCKER_REGISTRY:8443/kubernetes/auth:$CI_COMMIT_SHORT_SHA-$CI_COMMIT_BRANCH
        imagePullPolicy: Always
        command: ["/bin/sh"]
        args: ["-c", "uvicorn main:app --reload --host 0.0.0.0"]
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: 800m
            memory: 1500Mi
          requests:
            cpu: 800m
            memory: 1500Mi

        envFrom:
        - configMapRef:
            name: auth-backend-config
        - secretRef:
            name: auth-postgres-connection
        - secretRef:
            name: auth-redis-connection
        - secretRef:
            name: auth-s3-access
        - secretRef:
            name: auth-service-account-credentials

      imagePullSecrets:
        - name: myprivateregistry

