[tool.pytest.ini_options]
pythonpath = ["."]
asyncio_mode = "auto"


[tool.black]
line-length = 90


[tool.isort]
profile = "black"
line_length = 90
multi_line_output = 3
include_trailing_comma = true
