apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
resources:
- ../../base
labels:
- includeSelectors: true
  pairs:
    env: development
patches:
- path: vault-secret-patch.yaml
- path: configmap-patch.yaml

